.whole{
  display: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 24px;
  color:#4B585E;
  
}
.container{
  max-width: 1280px; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: 'Abril Fatface', cursive;
  color: #222222;
  
}
 
  img{
 height: 400px;
}

h1{
  
  font-size: 70px;
  font-weight: 300;
  position: absolute;
  left: 250px;
  bottom: 1px;
  
  
  
}
h2{
  
  font-size: 36px;
  font-weight: 300;
  position: absolute;
  left: 250px;
  bottom: 90px;
  
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size:50px;
  background: #4B585E;
  color: white;
  margin-left: -5%;
  margin-right: -5%;
  display: flex;
  line-height: 170%;
  padding-bottom: 1.2em;
  padding-top: 1em;
  padding-left: 0.8em;
  padding-right:0.8em;
  position:relative;

}
 blockquote::before {
   content: open-quote;
   font-size: 3em;
   position: absolute;
   top:20px;
   left:-0.009em;
  
}
p, ul {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 170%;
  font-size: 20px;
  list-style: square;
  
}
h3{
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
}
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  margin-bottom: 0;
}
h5 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 17px;
  font-weight: 700;
  margin-top: 4px;
}
footer{
  background: #4B585E;
  height: 5px;
  margin-left:-15px;
  margin-right: -15px;
  margin-top: 50px;
  margin-bottom: 50px;
 
}